.formContainer {
  width: 30%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.formInput {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  padding: 5px 10px;
  border-radius: 5px;
  width: 400px;
}

.formBtn {
  display: block;
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  padding: 5px;
  width: 200px;
  border-radius: 5px 15px;
  margin: 0 auto;
  margin-top: 20px;
}
